<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- style -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <img id="logo" src="img/logo.png" alt="logo boolean" />
      <span id="logo-text">Toboolist</span>
    </header>
    <main>
      <div class="container" id="app">
        <div class="top">
          <input 
          type="text" 
          placeholder="es: Fare la spesa..." 
          v-model="newTask.text"
          @keyup.enter="addTask" />
          <button type="button" class="btn btn-filled" @click="addTask">
            Add Task
          </button>
        </div>
        <div class="tasks">
              <ul class="inner-list">
                <li :class="{'done': itemList.done}" v-for="(itemList, index) in list">
                  <!-- @click="this.list[index].done = !this.list[index].done" -->
                  <span class="circle" :class="itemList.done ? 'checked' : 'delete'" ></span>
                  <p @click="toggleCheck(index)">{{ itemList.text }}</p>
                  <button type="button" class="btn-delete circle" @click="removeTask(index)">X</button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <script src="./js/script.js"></script>
  </body>
</html>
